<section class="section">
  <div class="container" id="search-container">
    <h1 class="title">Search Wikipedia Articles</h1>
    <form class="search-form" method="GET">
      <div class="field has-addons">
        <div class="control">
          <input id="search-input" name="query" class="input" type="text" value="{{query}}">
        </div>
        <div class="control">
          <button id="search-button" class="button is-info">Search</button>
        </div>
      </div>
    </form>
    <div class="content">
      Some content...
    </div>
  </div>
</section>