<section class="section">
  <div class="container" id="search-container">
    <form class="search-form">
      <div class="field has-addons">
        <div class="control">
          <input id="search-input" class="input" type="text">
        </div>
        <div class="control">
          <button id="search-button" class="button is-info">Search</button>
        </div>
      </div>
    </form>
    <ul class="search-results">
    </ul>
  </div>
</section>